 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     
     
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .wrapper {
background: linear-gradient(135deg, #361082, #2C098B);
margin: 0;
padding: 0;
height: 100%;
width: 100%;
    
  }

  .container {
    width: 2310px;
    margin: 0% auto;
  }

  header {
    padding: 50px 0;
  }

  header.logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
  }

  header nav {
    float: right;
    width: 50%;
  }

 header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header nav ul li {
    display: inline-block;

 }

 header nav ul li a {
    color:#fff
 }

 header nav ul li:not(.active):not(.btn) a:hover {
border-bottom: 5px solid #42BDEC;
border-radius: 5px;
width: 5px;
height: 5px;
 }



  header nav ul li.btn a {
    background: #42BDEC;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    position: relative;
    right: -65px;
  }

  header nav ul li.btn a:hover {
    background: #06b92d;
  }

   header nav ul li.active::after {
content: '';
display: block;
width: 40px;
height: 5px;
background: #42BDEC;
border-radius: 10px;
position: relative;
top: 2px;
left: -10px;

   }

   .hero {
    padding-bottom: 1000px;
    position: relative;
   }

   .hero--info {
    width: 900px;
    padding-top: 38px;
   }

    .hero--info h2 {
        font-size: 50px;
        font-weight: 700;
        
    }

      .hero--info h1 {
        font-size: 30px;
        font-weight: 500;
        
    }

    .hero--info .btn {
        background: #42BDEC;
        border-radius: 50px;
        padding: 10px 30px;
        border: 0;
        transition: all 500ms ease;
        font-size: 25px;
        position: relative;
        bottom: -20px;
        

    }

    .hero--info .btn:hover {
        cursor: pointer;
        transform: scale(1.15);
        background: #04e949;

        
    }

.hero img {
    position: absolute;
    top: 50px;
    right: 650px;
    width: 600px;
    height: 350px;
    
}

span.logo {
font-size: 55px;
font-weight: 700;
text-transform: uppercase;
}

.games {
display: flex;
justify-content: space-between;
width: 100%;
padding: 100px 0;
position: relative;
top: -1100px;
}

.container-trending {
font-size: 50px;
position: relative;
top: -950px;
padding: 50px 175px;
}

.container-trending h4 {
  font-size: 50px;
  font-weight: 500px;
  width: 1650px;
position: relative;
top: -200px;
left: -50px;
}

.container-trending h5 {
  font-size: 50px;
  font-weight: 500px;
  width: 1650px;
position: relative;
top: -200px;
left: -50px;
}

.container-trending h6 {
  font-size: 50px;
  font-weight: 500px;
  width: 1650px;
position: relative;
top: -200px;
left: -50px;
}

.container-trending h3-2 {
position: relative;
  width: 1650px;
  top: -200px;
left: 630px;
font-size: 90px;
 font-family: "Poppins", sans-serif;
 font-weight: 700;
}


